load_file_upload = 'Put your address of the directory to upload the CSV files'
database_file_path = 'path to the file which is used by sqlite'

USERNAME = 'username'
PASSWORD = 'password'
SECRET_KEY = 'AMIRGHADIR1987amgh2025'
