# address upload
UPLOAD_DIR = 'Put your address of the directory to upload the CSV files'
CSV_FILENAME = 'path to the file which is used by sqlite'

# login cedentials
USERNAME = 'username'
PASSWORD = 'password'

# generate one strong secret key for flask
SECRET_KEY = 'random long string eith alphanumeric / #()*&'

# do not change below unless you know what you are doin
allowed_extensions = {'csv'}
