# call back token 
# f'/{CALL_BACK_TOKEN}/check_and_upload'
call_back_token = 'CALL BACK TOKEN'
call_back_token_admin = 'CALL BACK TOKEN admin'
call_back_token_check_server = 'CAL BACK TOKEN CHECK SERVER'
call_back_token_sync = 'CAL BACK TOKEN SYNC'


# address upload
UPLOAD_DIR = 'Put your address of the directory to upload the CSV files'
CSV_FILENAME = 'path to the file which is used by sqlite'
DATABASE_FILENAME = 'The name of the database file used by sqlite'
CSV_FILENAME = 'the name CSV file upload data to database'

# login cedentials
USERNAME = 'username'
PASSWORD = 'password'

# generate one strong secret key for flask
SECRET_KEY = 'random long string eith alphanumeric / #()*&'

# do not change below unless you know what you are doin
allowed_extensions = {'csv'}
